@{
    ViewData["Title"] = "Teveel pogingen";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Dit account is tijdelijk geblokkeerd, probeer later opnieuw.</p>
</header>