body {
    padding-top: 5em
}

.flag{
    width: 1.25em;
    height: 1em;
    margin-left: 0.5em;
}

.card-img-top {
    padding: 1em;
}

.linethrough{
    text-decoration: line-through;
    text-decoration-color: red;
}

.red{
    color: red;
}